<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<JuryRigger xmlns:xs="http://www.w3.org/2001/XMLSchema-instance">
    <matches xs:type="nameMatcher">
        <classMatch>rigger.demo.Example</classMatch>
        <rigger xs:type="addAnnotation">
            <finder>
                <annotations>javax.xml.bind.annotation.XmlTransient</annotations>
                <finder xs:type="fieldFinder">
                    <fields>field</fields>
                </finder>
            </finder>
            <finder>
                <annotations>javax.xml.bind.annotation.XmlTransient</annotations>
                <finder xs:type="methodFinder">
                    <methods>run</methods>
                </finder>
            </finder>
        </rigger>
    </matches>
</JuryRigger>